body {
  margin: 0;
  padding: 0; }

.header, .header:after {
  background-repeat: no-repeat;
  background-size: contain; }

.header {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/gerl.png");
  background-position: left 60px;
  z-index: -1; }
  .header:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
<<<<<<< HEAD
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d4aaf9), to(#a38efd)), url("../img/gerl.png");
    background-image: linear-gradient(#d4aaf9, #a38efd), url("../img/gerl.png");
=======
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d4aaf9), to(#a18dfd)), url("../img/gerl.png");
    background-image: linear-gradient(#d4aaf9, #a18dfd), url("../img/gerl.png");
>>>>>>> 6b294f374346cbaf5e84e69c50094b156fe053e9
    background-position: left top, left 60px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 35%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 35%);
    background-blend-mode: darken; }
<<<<<<< HEAD
  .header .bgPoints {
    position: absolute;
    z-index: 1; }
  .header .wrapperHeader {
    position: absolute;
    z-index: 1;
    background-image: url("../img/points.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%; }
    .header .wrapperHeader .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 5% 15% 10% 15%; }
      .header .wrapperHeader .logo span {
        color: white;
        font-size: 2.5vw; }
      .header .wrapperHeader .logo button {
        color: black;
        font-size: 1.125vw;
        background-color: white;
        border: none; }
        .header .wrapperHeader .logo button:first-child {
          border-radius: 20px 0 0 20px;
          border-right: solid; }
        .header .wrapperHeader .logo button:last-child {
          margin-left: -4px;
          border-radius: 0 20px 20px 0; }
=======
  .header .wrapper {
    position: absolute;
    z-index: 2; }
    .header .wrapper .bgPoints {
      position: absolute; }
    .header .wrapper .logo {
      color: white;
      font-family: 'Roboto', sans-serif;
      margin: 5em 0 0 15em; }
>>>>>>> 6b294f374346cbaf5e84e69c50094b156fe053e9

@media (max-width: 1100px) {
  .header {
    background-position: left bottom; }
    .header:after {
      background-position: left bottom; } }
