body {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/gerl.png"), linear-gradient(-45deg,#d4aaf9,#a18dfd);
    background-repeat: no-repeat, no-repeat;
    background-position: left 60px, right bottom;
    background-size: contain;
    overflow: hidden;
    background-blend-mode: darken;
    

    // .grad {
    //     width: 100%;
    //     height: 100%;
    //     background-image: linear-gradient(#d4aaf9,#a18dfd);
    //     opacity: 1;
    //     background-blend-mode: oft-light;
    // }
}


@media (max-width : 1200px) {
    header {
        background-position: left bottom;
    }
}